:root {
    --button-color-catalogo: #af4c0f;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*margin-top: 4rem;*/
    margin-left: 0rem;
    padding: 2rem;
    transition: margin-left 0.5s ease;
}

.col h1 {
    font-size: 5rem;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.col p {
    font-size: 1.5rem;
    font-family: "Momo Trust Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 100px;
}

.boton-catalogo {
    font-size: 1rem;
    font-family: "Momo Trust Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: var(--button-color-catalogo);
    color: var(--text-color);
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}


/* Sobreescribir Bootstrap */

.carousel-indicators-button {

    background-color: #af4c0f;

}